<div class="hero">
  <br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>CODING IS GREAT</h1><br />
    <h2>I'm a coder, too!</h2><br />
    <%= link_to 'Learn More', '#', class: 'btn btn-primary' %>
    <br /><br />
  </div>
</div>
