@import "bootstrap";

.navbar {
  box-shadow: 0px 2px 5px #2a2a2a;
  border: solid 8px;
  border-radius: 10px 40px 40px 10px;
  font-family: Verdana, "Verdana Ref", sans-serif;
  font-weight: 200;
  background: image_url('circle-blues');
}

.navbar-inverse a.navbar-brand {
  font-size: 160%;
  font-family: Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
  color: white;
}

body {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.hero {
  background: image_url('hero.jpg') no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: ccover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;

}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: Verdana, "Verdana Ref", sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
  box-shadow: 0px 3px 8px #2a2a2a;
}

